[submodule "xxh/shells/xxh-shell-bash"]
	path = xxh/shells/xxh-shell-bash
	url = https://github.com/xxh/xxh-shell-bash.git
[submodule "xxh/plugins/xxh-plugin-bash-basic"]
	path = xxh/plugins/xxh-plugin-bash-basic
	url = git@github.com:Latzl/xxh-plugin-bash-basic.git
[submodule "xxh/plugins/xxh-plugin-prerun-dotfiles"]
	path = xxh/plugins/xxh-plugin-prerun-dotfiles
	url = git@github.com:Latzl/xxh-plugin-prerun-dotfiles.git
