# clang format
Language: Cpp

BasedOnStyle: Google

# user configuration
IndentWidth: 4
# ColumnLimit: 1000
ColumnLimit: 1200
AlignTrailingComments: false
MaxEmptyLinesToKeep: 2
SortIncludes : false
AllowShortFunctionsOnASingleLine : Empty
AllowShortIfStatementsOnASingleLine : Never

AlignAfterOpenBracket : DontAlign
AlignArrayOfStructures : Left 
SortIncludes : false

# AlignConsecutiveAssignments : true
# AlignConsecutiveDeclarations : true