# clang format
Language: Cpp

BasedOnStyle: Google

# user configuration
IndentWidth: 4
ColumnLimit: 120
AlignTrailingComments: false
MaxEmptyLinesToKeep: 2
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: Left

ReflowComments: false
